<ion-footer>
  <p
    style="font-size: 11px; display: block; max-width: 100%; margin-left: 5px; margin-right: 5px; margin-top: 5px; color: #111;"
  >
    This spreadsheet app is a list of the ~10,000 most starred GitHub
    repositories. It works by going to a large set of GitHub "Awesome" lists,
    scraping the data from all the featured repositories, and then serves up the
    data, sorted by stars.
  </p>

  <p style="font-size: 11px; display: block; text-align: center;">
    © 2024 <a href="https://megabyte.space" target="_blank">Megabyte Labs</a>
  </p>
</ion-footer>
